.Sidney {

    /* All fancy code, unless otherwise stated, was taken from w3 schools CSS page: https://www.w3schools.com/css/default.asp */

    body {
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        color: #D7BCE8;
        overflow-x: hidden;
        margin-bottom: 20px;
        margin: 0;
}

    h1 {
        font-family: "Rubik Glitch", system-ui;
        /* Taken from: https://fonts.google.com/specimen/Rubik+Glitch?lang=en_Latn&categoryFilters=Feeling:%2FExpressive%2FExcited */
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 5em;
        font-size: 4rem;
    }

    /* Made sticky with the help of: https://www.sitepoint.com/community/t/problems-with-getting-a-dropdown-to-show-with-a-sticky-nav-bar/451467 */
        /* Add a black background color to the top navigation */
    .topnav {
        position: sticky;
        top: 0;
        background-color: #460C2A;
        display: flow-root;
        z-index: 10;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #D7BCE8;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Add an active class to highlight the current page */
    .active {
        background-color: #230615;
        color: #D7BCE8;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }

    /* Dropdown container - needed to position the dropdown content */
    .dropdown {
        float: left;
        overflow: hidden;
    }

    /* Style the dropdown button to fit inside the topnav */
    .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: #D7BCE8;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    /* Style the dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #D7BCE8;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Style the links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: #210124;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    /* Add a dark background on topnav links and the dropdown button on hover */
    .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #555;
        color: white;
    }

    /* Add a grey background to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Show the dropdown menu when the user moves the mouse over the dropdown button */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    h2 {
        font-size: 2em;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    
    .content {
        background: #0F050A;
        font-size: 1.25em;
        padding: 1em;
        margin: 2em;
        color: #fefefe;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 1.5em;
    }

    /* Images side by side done with the help of: https://codedamn.com/news/frontend/how-to-put-image-and-text-side-by-side-in-html */
    .figure {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img.figure {
        max-width: 100%;
        max-height: 100%;
        border: 20px solid #c7c3d4;
        border-radius: 10px;
        margin: 5px;
    }

    img.logo {
        position: absolute;
        top: 2.5em;
        right: 0px;
        z-index: -1
    }
    
    img.background {
        top: 0;
        position: absolute;
        z-index: -2;
        background-size: cover;
        background-position: center top;
        left: 0;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 2px;
    }

    .grid-container div {
        background-color: #0F050A;
        border: 20px solid #0F050A;
        border-radius: 20px;
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
    }

    div.link {
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: left;
        background-color: transparent;
        border: none;
        position: absolute;
        -webkit-text-stroke: 1px white;
    }

    div.link:hover {
        color: grey;
        text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
        /* text-shadow taken from: https://stackoverflow.com/questions/40393497/text-outer-glow-effect-using-css */
    }

    img.link {
        border-radius: 20px;
        z-index: 0;
    }

    li {
        font-weight: bold;
        font-size: 2em;
        line-height: 2em;
        text-align: center;
        list-style: decimal;
    }

    footer {
        text-align: center;
        color: white;
    }

}
