.Sidney {

    /* All fancy code, unless otherwise stated, was taken from w3 schools CSS page */

    body {
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background: linear-gradient(to top, rgba(255, 255, 255, 255) 50%, rgba(0, 0, 0, 0.6) 50%), url(../images/metal_titlebackground.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        color: #fff;
        overflow-x: hidden;
        margin-bottom: 20px;
  }

    h1 {
        font-family: "Rubik Glitch", system-ui;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 5em;
        font-size: 4rem;
        
    }
    
    #navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        overflow: hidden;
        background-color: #2a2a2a;
        z-index: 10;
    }

    #navbar a {
        float: left;
        display: block;
        color: #ededed;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        z-index: 10;
    }

    #navbar a:hover {
        text-decoration: underline;
        color: #bababa;
    }

    h2 {
        font-size: 2em;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    
    .content {
        background: #303030;
        font-size: 1.25em;
        padding: 1em;
        margin: 2em;
        color: #fefefe;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 1.5em;
    }

    img.logo {
        position: absolute;
        top: 2.5em;
        right: 0px;
        z-index: -1
    }
    
    img.background {
        top: 0;
        position: absolute;
        z-index: -2;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: black;
        padding: 2px;
    }

    .grid-container div {
        background-color: black;
        border: 20px solid black;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    div.link {
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: left;
        background-color: transparent;
        border: none;
        position: absolute;
        -webkit-text-stroke: 1px white;
    }

    div.link:hover {
        color: grey;
        text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
        /* text-shadow taken from: https://stackoverflow.com/questions/40393497/text-outer-glow-effect-using-css */
    }

    img.link {
        border-radius: 20px;
        z-index: 0;
    }

    li {
        font-weight: bold;
        font-size: 2em;
        line-height: 2em;
        text-align: center;
        list-style: decimal;
    }

    footer {
        text-align: center;
        color: white;
    }

}
