@font-face {
    font-family: "Monserrat";
    src: url(../../Fonts/Monserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

html {
    box-sizing: content-box;
    scroll-behavior: smooth;
    font-family: "Monserrat", Arial, Helvetica, sans-serif;
}

main.fave {
    width: auto;
    border: 10px solid #8d99ae;
    border-radius: 5px;
    background-color: transparent;
    padding: 25px 65px;
    margin: 10px 15px;
    animation: animate_loadpage 1s ease-in;
}
body.fave {
    color: #edf2f4;
    margin: 25px;
    font-family: "Monserrat", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #282a3e;
    background: linear-gradient(145deg, #333657 0%, #24273f 100%);
    text-align: center;
    animation: animate_loadpage 1s ease-in;
}

/* following animation source: https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
a {
  display: inline-block;
  position: relative;
}
a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
/* navigation bar styles */
nav.fave {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    animation: animate_loadpage 1s ease-in;
}

nav.fave ul {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 10px;
    width: 100%;
}

nav.fave a {
    float: left;
    display: block;
    color: #f2f2f2;
    background-color: green;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    margin: 10px 15px;
    border-radius: 8px;
}
nav.fave a:hover {
    animation: animate_pulse 1s infinite alternate;
    background-color: #ddd;
    color: black;
}


/* animations */
@keyframes animate_pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animate_loadpage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}