html {
    box-sizing: content-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

main.fave {
    width: auto;
    border: 10px solid #8d99ae;
    border-radius: 5px;
    background-color: transparent;
    padding: 25px 65px;
    margin: 10px 15px;
    animation: animate_loadpage 1s ease-in;
}
body.fave {
    color: #edf2f4;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #282a3e;
    background: linear-gradient(145deg, #333657 0%, #24273f 100%);
    text-align: center;
    animation: animate_loadpage 1s ease-in;
}





/* navigation bar styles */

nav.fave {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    animation: animate_loadpage 1s ease-in;
}

nav.fave ul {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 10px;
    width: 100%;
}

nav.fave a {
    float: left;
    display: block;
    color: #f2f2f2;
    background-color: green;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    margin: 10px 15px;
    border-radius: 8px;
}
nav.fave a:hover {
    animation: animate_pulse 1s infinite alternate;
    background-color: #ddd;
    color: black;
}




/* Home page navigation styles */

/* Section wrapper */
.fave-content {
    max-width: 97%;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: "Monserrat", sans-serif;
}
/* Title banner */
.contents_title {
    text-align: center;
    background: #1f2937; /* dark grey */
    color: white;
    padding: 18px 0;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.contents_title h2 {
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.contents_btn {
    text-decoration: none;
}

._left, ._right {
    margin: 20px;
    padding: 22px 28px;
    border-radius: 14px;
    border: 5px solid #ccc;

    background-image: url(../images/afrobeats_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: stretch;

    transition: 
        transform 0.3s ease-in-out;
}
._left {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
._right {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
}
._left:hover {
    transform: translateX(-50px);
}
._right:hover {
    transform: translateX(50px);
}
/* Text */
._left h3, ._right h3 {
    text-decoration: overline;
    text-shadow: #1f2937 2px 2px 10px;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
._right h3 {
    text-align: right;
}
._left p, ._right p {
    text-transform: capitalize;
    margin: 8px 0 0;
    font-size: 1rem;
    color: #3a3a3a;
    font-weight: 1000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, 1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
._right p {
    text-align: right;
}





/* animations */
@keyframes animate_pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animate_loadpage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
