html.fave {
    box-sizing: content-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

main.fave {
    width: auto;
    border-radius: 5px;
    background-color: transparent;
    padding: 25px 65px;
    margin: 10px 15px;
    animation: animate_loadpage 1s ease-in;
    border: 30px solid rgba(255, 255, 255, 0.15);
}
body.fave {
    color: #edf2f4;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    animation: animate_loadpage 1s ease-in;
    background: linear-gradient(135deg, #682b2b, #665e0b, #5f4523);
}





/* navigation bar styles */

nav.fave {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    animation: animate_loadpage 1s ease-in;
}

nav.fave ul {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 10px;
    width: 100%;
}

nav.fave a {
    float: left;
    display: block;
    color: #f2f2f2;
    background-color: rgb(102, 87, 0);
    border: 2px solid rgb(129, 110, 0);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    margin: 5px 15px;
    border-radius: 8px;
}
nav.fave a:hover {
    animation: animate_pulse 1s infinite alternate;
    background-color: #ddd;
    color: black;
}




/* Home page navigation styles */

.fave-content {
    max-width: 97%;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.contents_btn {
    text-decoration: none;
}
._left, ._right {
    margin: 20px;
    padding: 22px 28px;
    border-radius: 14px;
    border: 5px solid #ccc;

    background-image: url(../images/afrobeats_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: stretch;

    transition: 
        transform 0.3s ease-in-out;
}
._left {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
._right {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
}
._left:hover {
    transform: translateX(-50px);
}
._right:hover {
    transform: translateX(50px);
}
._left h3, ._right h3 {
    text-decoration: overline;
    text-shadow: #1f2937 2px 2px 10px;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
._right h3 {
    text-align: right;
}
._left p, ._right p {
    text-transform: capitalize;
    margin: 8px 0 0;
    font-size: 1rem;
    color: #3a3a3a;
    font-weight: 1000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, 1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
._right p {
    text-align: right;
}


.fave section{
    margin: 20px auto;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    animation: animate_loadpage 1s ease-in;
    background-color: #a18f51;
}
.fave h1 {
    font-weight: bolder;
    text-decoration: overline;
    font-style: oblique;
}
.fave h2, .fave h3{
    font-weight: 1000;
    text-decoration: underline;
    padding: 10px;

}

.fave h3{
    font-weight: 400;
}

.fave a{
    text-decoration: none;
    color: white;
}

.fave img{
    border: #ccc solid 3px;
    border-radius: 20px;
}


/* animations */
@keyframes animate_pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animate_loadpage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
